* {
    padding: 0;
    margin: 0;
}

header {
    padding-top: 27px;
}

.container {
    max-width: 1032px;
    margin: auto;
}

#navigation {
    list-style: none;
    display: flex;
    justify-content: flex-end
}

header nav ul li {
    margin-left: 33px;
}

header nav ul li a {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-align: right;
    text-decoration: none;
    color: #000000;
}

.main_banner {
    padding-top: 140px;
    padding-bottom: 71px
}

.main_banner h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
    margin-bottom: 40px
}

.sub_container {
    max-width: 838px;
    margin: auto;
    display: flex;
    justify-content: space-between
}

.main_banner p {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-bottom: 38px
}

.main_banner a {
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #FF6464;
    border-radius: 2px;
    padding: 13px 21px 13px 20px;
    display: inline-block;
}

.main_banner article {
    max-width: 497px
}

.main_image {
    max-width: 243px;
}

.main_image img {
    width: 100%;
    display: block
}

header nav ul li:hover {
    transform: scale(1.3);
    transition: 0.3s;
}

.main_banner a:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.main_container {
    background-color: #000000;
    padding-top: 69px;
    padding-bottom: 35px;
}

.form {
    max-width: 564px;
    margin: auto;
    text-align: center
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: rgba(255, 255, 255, 0.18);
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 18px 31px 17px 31px
}

.center div:nth-child(2) input {
    background-color: rgba(255, 255, 255, 0.2);
}

.describe {
    width: 100%;
    box-sizing: border-box;
    border: none;
    height: 127px;
    resize: none;
    margin-bottom: 22px;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 17px 31px 33px 31px
}

.button {
    background-color: black;
    border: solid 1px #7EC4BD;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #8BCAC3;
    padding: 15px 60px 15px 60px
}

.main_footer {
    padding-top: 51px;
    padding-bottom: 54px;
    margin: auto;
}

.foot_nav {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 26px
}

.link_social {
    margin-right: 17px;
    margin-left: 17px
}

.end_web {
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
}

.posts{
    background-color: #EDF7FA;
    padding-bottom: 32px;
}

.posts .head_posts{
    max-width: 856px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.posts .head_posts p{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
}
.posts .head_posts a{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
    text-decoration: none;
}
.posts .container{
    max-width: 856px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.posts article {
    max-width: 418px;
    background-color: #FFFFFF;
    padding: 24px 22px 0px 22px;
    box-sizing: border-box;
}

.posts article h3 {
    margin-bottom: 17px;
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}
.posts article div{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    padding-bottom: 21px;
}
.posts article .date span:nth-child(2)::before {
    content: " ";
    height: 21px;
    background-color: black;
    margin-right: 26px;
    margin-left: 26px;
    border: 1px solid #000000;
}
.posts article p{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
    color: #21243D;
}
.featured_works{
    padding-top:15px;
    padding-bottom:87px;
}
.featured_works article{
    max-width: 856px;
    margin: auto;
}
.featured_works article h4{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}
.featured_works .container{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.featured_works .line{
    content: " ";
    weight: 858px;
    background-color: black;
    border: 1px solid #E0E0E0;
}
.featured_works .container div{
    padding-left: 18px;
}
.featured_works .container h3{
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;color: #21243D;
    margin-bottom: 9px;
}
.featured_works .container div span:nth-child(2){
    display: inline-block;
    background-color: #142850;
    border-radius: 16px;
    padding: 0px 10px 0px 10px;
    margin-right: 16px;
    margin-bottom: 9px;
    margin-top: 9px;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
}
.featured_works .container div span:nth-child(3){
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;color: #8695A4;
    margin-left: 13px;
}
.featured_works .container p{
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;color: #21243D;
    margin-top: 9px;
}
